/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Navigation Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  /* background-color: #396eb6; */
  background-color: #002d6f;
  color: #fff;
}

.navbar-brand img {
  max-height: 40px;
  margin-right: 2px;
}

.navbar-brand {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  color: #ffd700;
}

.navbar-dark .navbar-toggler {
  border-color: #ffd700;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255, 215, 0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  margin-left: auto;
}

.nav-link {
  font-size: 1rem;
  margin-right: 15px;
  font-weight: bold;
  text-decoration: none;
}

#nav-id {
  color: #ffd700;
}

.nav-link:hover {
  text-decoration: underline;
  color: #ffd700;
  transition: all 0.5s ease;
  font-size: 1.01rem;
}

.logo-img {
  height: 40px;
  width: auto;
  margin-right: 10px;
  vertical-align: middle;
}

/* Hero Section */
.hero {
  position: relative;
  /* background-color: #004aad; */
  background-color: #002d6f;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}


.lightbulb-background {
  position: absolute;
  top: 28%;
  left: 49.5%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.lightbulb-background img {
  width: 500px; 
  opacity: 0.15; 
  transform: scale(3);
}

/* Hero Content */
.hero-content {
  position: relative;
  overflow: hidden;
}

/* Technician Image with Border */
.technician-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 20px;
  border: 5px solid #ffd700; /* Updated border color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.technician-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.eureka-text {
  color: yellow;
  font-size: 4rem;
  font-weight: bold;
}

/* Services Section */
.services {
  padding: 50px 0;
  background-color: #fff;
}

.services h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.5rem;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-item {
  width: 30%;
  background-color: #f7f7f7;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.service-item i {
  font-size: 40px;
  color: #007bff;
  margin-bottom: 15px;
}

.service-item h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.service-item p {
  font-size: 1rem;
  color: #555;
}

/* Photo Section Styles */
.photos {
  padding: 50px 0;
  position: relative;
}

.carousel-inner {
  max-height: 400px;
}

.carousel-img {
  width: 100%;
  height: auto;
  max-height: 400px; 
  object-fit: contain; 
}

.photos .carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5); 
  color: white;
  max-width: 100%; 
}

.carousel-caption h5,
.carousel-caption p {
  color: #fff;
  margin: 0;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.btn {
  font-weight: bold;
  color: #ffd700;
  background: #002c6fe3;
}

.btn:hover {
  background: #002c6f;
  color: #ffd700;
}

/* Footer Section */
.footer {
  background-color: #002d6f;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
}

.social-icons {
  margin-top: 15px;
}

.social-icons a {
  color: white;
  margin-right: 10px;
  font-size: 24px;
}

.social-icons a:hover {
  color: #ffc107;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 3rem;
  }

  .eureka-text {
    font-size: 4rem;
  }

  .hero p {
    font-size: 1.2rem;
  }

  .technician-image {
    width: 150px;
    height: 150px;
  }

  .electric-lines {
    width: 190px;
    height: 190px;
  }

  .service-item {
    width: 45%;
  }
}

@media (max-width: 576px) {
  .hero h1 {
    font-size: 2rem;
  }

  .eureka-text {
    font-size: 3rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .technician-image {
    width: 120px;
    height: 120px;
  }

  .electric-lines {
    width: 160px;
    height: 160px;
  }

  .service-item {
    width: 100%;
  }
}

@media (max-width: 396px) {
  .navbar-brand {
    font-size: 16px;
  }

  .navbar-brand img {
    max-height: 25px;
  }
}

/* Media Query for Larger Screens */
@media (min-width: 768px) {
  .photos .carousel-caption {
    bottom: 10%;
    padding: 20px;
    max-width: 60%; 
    left: 50%;
    transform: translateX(-50%); 
  }

  .photos .carousel-inner img {
    object-fit: contain;
    max-height: 500px; 
    width: auto; 
  }
}
